// Green variants
$green: #408080;
$greenLight: mix($green, #fff, 60%);
$greenDark: mix($green, #000, 50%);

// Salmon variants
$salmon: #e57373;
$salmonLight: mix($salmon, #fff, 60%);

// Fonts
$specialFont: 'Josefin Slab', serif;
$regularFont: 'Merriweather', serif;

// Media query shortcuts
@mixin mobile() {
    @media (max-width: 640px)  { @content; }
}
@mixin desktop() {
    @media (min-width: 641px)  { @content; }
}

html,
body {
    box-sizing: border-box;
    color: $greenDark;
    font-family: $regularFont;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
#language {
    left: 2vw;
    position: fixed;
    top: 10vh;
    z-index: 3000;

    @include desktop() {
        transform: translate3d(0, -50%, 0);
    }
    @include mobile() {
        left: 5px;
        position: absolute;
        top: 10px;
    }

    span {
        color: $greenLight;
        cursor: pointer;
        display: block;
        font-family: $specialFont;
        font-size: 0.8rem;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        transition: color 200ms ease-in-out;
        width: 30px;

        &:hover {
            color: $salmonLight;
        }
        &.active {
            color: $salmon;
        }
    }
}
#sectionIndex {
    left: 2vw;
    position: fixed;
    top: 50vh;
    transform: translate3d(0, -50%, 0);
    z-index: 3000;

    @include mobile() {
        display: none;
    }

    > div {
        cursor: pointer;
        display: block;
        height: 24px;
        position: relative;
        width: 30px;

        &:hover {
            span {
                background: $salmonLight;
            }
            div {
                opacity: 0.95;
                transform: translate3d(0, 0, 0);
            }
        }
        &.active span {
            background: $salmon;
            transform: translate3d(12px, 8px, 0) scale(1.8);
        }
        span {
            background: $greenLight;
            border-radius: 20px;
            box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
            display: block;
            height: 6px;
            transform: translate3d(12px, 8px, 0);
            transition: all 250ms ease-out;
            width: 6px;
        }
        div {
            background: mix($green, #fff, 5%);
            border-radius: 4px;
            box-shadow: 1px 1px 0 rgba(140, 178, 178, 0.3);
            color: $salmon;
            font-family: $specialFont;
            font-size: 1rem;
            left: 30px;
            line-height: 24px;
            opacity: 0;
            padding: 2px 7px;
            pointer-events: none;
            position: absolute;
            text-shadow: none;
            top: -2px;
            transform: translate3d(15px, 0, 0);
            transition: all 250ms ease-out;
            white-space: nowrap;
        }
    }
}
section {
    background: mix($green, #fff, 30%);
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 2000;

    &:nth-child(even) {
        background: mix($green, #fff, 15%);
        z-index: 1500;
    }
    @include desktop() {
        overflow: hidden;
    }
    @include mobile() {
        height: auto;
        padding: 40px 0;
    }
    .midmid {
        margin: 0 auto;
        max-width: 750px;
        position: relative;
        width: 80%;

        @include desktop() {
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: 70%;
        }

        h2 {
            font-family: $specialFont;
            font-size: 3rem;
            font-weight: 100;
            line-height: 1;
            margin: 0 0 15px 0;
            position: relative;
            text-align: center;
            z-index: 1000;

            @include mobile() {
                font-size: 2rem;
            }
            div {
                display: inline-block;
            }
        }
        .images {
            margin: 0 auto;
            position: relative;
            width: 100%;
            z-index: 2000;

            &.single {
                max-height: 211px;
                max-width: 211px;
                width: 50%;

                img {
                    position: relative;
                }
            }
            img {
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 4000;

                &.current {
                    z-index: 6000;
                }
                &.next {
                    z-index: 5000;
                }
            }
        }
        .tags {
            color: $greenLight;
            font-size: 0.7rem;
            padding-top: 10px;
            text-align: center;

            @include mobile() {
                display: none;
            }
            span {
                margin: 0 2px;
            }
        }
        p {
            font-size: 0.9rem;
            line-height: 140%;
            margin-top: 15px;
            text-align: center;

            span {
                display: inline-block;
            }
        }
        .link {
            display: block;
            margin: 15px auto 0 auto;
            text-align: center;

            @include mobile() {
                margin-top: 35px;

                a {
                    border: $green solid 1px;
                    color: $green;
                    display: block;
                    padding: 10px 30px;
                    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);

                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }
        a {
            color: $salmon;
            cursor: pointer;
            font-size: 0.9rem;
            position: relative;
            text-decoration: none;

            &:before,
            &:after {
                background: $salmon;
                bottom: 0;
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                transition: width 200ms ease-in-out;
                width: 0;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
            &:hover{
                &:before,
                &:after {
                    width: 50%;
                }
            }
        }
    }
}