html, body { box-sizing: border-box; color: #204040; font-family: "Merriweather", serif; font-weight: 400; margin: 0; padding: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

#language { left: 2vw; position: fixed; top: 10vh; z-index: 3000; }
@media (min-width: 641px) { #language { transform: translate3d(0, -50%, 0); } }
@media (max-width: 640px) { #language { left: 5px; position: absolute; top: 10px; } }
#language span { color: #8cb3b3; cursor: pointer; display: block; font-family: "Josefin Slab", serif; font-size: 0.8rem; font-weight: 700; height: 30px; line-height: 30px; text-align: center; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); text-transform: uppercase; transition: color 200ms ease-in-out; width: 30px; }
#language span:hover { color: #efabab; }
#language span.active { color: #e57373; }

#sectionIndex { left: 2vw; position: fixed; top: 50vh; transform: translate3d(0, -50%, 0); z-index: 3000; }
@media (max-width: 640px) { #sectionIndex { display: none; } }
#sectionIndex > div { cursor: pointer; display: block; height: 24px; position: relative; width: 30px; }
#sectionIndex > div:hover span { background: #efabab; }
#sectionIndex > div:hover div { opacity: 0.95; transform: translate3d(0, 0, 0); }
#sectionIndex > div.active span { background: #e57373; transform: translate3d(12px, 8px, 0) scale(1.8); }
#sectionIndex > div span { background: #8cb3b3; border-radius: 20px; box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); display: block; height: 6px; transform: translate3d(12px, 8px, 0); transition: all 250ms ease-out; width: 6px; }
#sectionIndex > div div { background: #f5f9f9; border-radius: 4px; box-shadow: 1px 1px 0 rgba(140, 178, 178, 0.3); color: #e57373; font-family: "Josefin Slab", serif; font-size: 1rem; left: 30px; line-height: 24px; opacity: 0; padding: 2px 7px; pointer-events: none; position: absolute; text-shadow: none; top: -2px; transform: translate3d(15px, 0, 0); transition: all 250ms ease-out; white-space: nowrap; }

section { background: #c6d9d9; height: 100vh; position: relative; width: 100%; z-index: 2000; }
section:nth-child(even) { background: #e2ecec; z-index: 1500; }
@media (min-width: 641px) { section { overflow: hidden; } }
@media (max-width: 640px) { section { height: auto; padding: 40px 0; } }
section .midmid { margin: 0 auto; max-width: 750px; position: relative; width: 80%; }
@media (min-width: 641px) { section .midmid { top: 50%; transform: translate3d(0, -50%, 0); width: 70%; } }
section .midmid h2 { font-family: "Josefin Slab", serif; font-size: 3rem; font-weight: 100; line-height: 1; margin: 0 0 15px 0; position: relative; text-align: center; z-index: 1000; }
@media (max-width: 640px) { section .midmid h2 { font-size: 2rem; } }
section .midmid h2 div { display: inline-block; }
section .midmid .images { margin: 0 auto; position: relative; width: 100%; z-index: 2000; }
section .midmid .images.single { max-height: 211px; max-width: 211px; width: 50%; }
section .midmid .images.single img { position: relative; }
section .midmid .images img { left: 0; position: absolute; top: 0; width: 100%; z-index: 4000; }
section .midmid .images img.current { z-index: 6000; }
section .midmid .images img.next { z-index: 5000; }
section .midmid .tags { color: #8cb3b3; font-size: 0.7rem; padding-top: 10px; text-align: center; }
@media (max-width: 640px) { section .midmid .tags { display: none; } }
section .midmid .tags span { margin: 0 2px; }
section .midmid p { font-size: 0.9rem; line-height: 140%; margin-top: 15px; text-align: center; }
section .midmid p span { display: inline-block; }
section .midmid .link { display: block; margin: 15px auto 0 auto; text-align: center; }
@media (max-width: 640px) { section .midmid .link { margin-top: 35px; }
  section .midmid .link a { border: #408080 solid 1px; color: #408080; display: block; padding: 10px 30px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
  section .midmid .link a:before, section .midmid .link a:after { display: none; } }
section .midmid a { color: #e57373; cursor: pointer; font-size: 0.9rem; position: relative; text-decoration: none; }
section .midmid a:before, section .midmid a:after { background: #e57373; bottom: 0; content: ''; display: block; height: 1px; position: absolute; transition: width 200ms ease-in-out; width: 0; }
section .midmid a:before { left: 50%; }
section .midmid a:after { right: 50%; }
section .midmid a:hover:before, section .midmid a:hover:after { width: 50%; }
